@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .verify-btn {
    @apply w-full border-t border-accent-2 p-2 hover:text-accent-3;
  }
  .verify-btn:disabled {
    @apply text-gray-400;
  }
}

.step-icon-inner {
  width: 0.625rem;
  height: 0.625rem;

  animation-duration: 1s;
  animation-name: step-icon-loading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.override-text-color * {
  color: inherit !important;
}

.faq a {
  text-decoration: underline;
}
